body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #1eadd1;
  font-size: 14px;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

label {
  padding: 5px 0px;
}

